<form class="form-main">
  <div class="input-main">
    <label>User Name</label>
    <input
      placeholder="Enter your name"
      type="text"
      id="name"
      [(ngModel)]="name"
      name="name"
    />
  </div>

  <div class="form-inputs-holder-main">
    <app-drop-down
      (emitSelectedOption)="onOptionSelected($event)"
      class="dropdown-holder"
      [options]="['Cycling', 'Running', 'Gym', 'Yoga']"
    ></app-drop-down>

    <div class="form-input-main">
      <label>Workout Minutes</label>
      <input
        placeholder="Minutes"
        type="number"
        id="minutes"
        [(ngModel)]="minutes"
        name="minutes"
      />
    </div>
  </div>

  <button class="form-button" (click)="onSubmit()">Submit</button>
</form>
